<!--&lt;!&ndash;Bootstrap Select&ndash;&gt;-->
<!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>-->


<!--FilePond-->
<link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
<script src="https://unpkg.com/filepond/dist/filepond.js"></script>
<script src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
<script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js"></script>


<link href="https://nielsboogaard.github.io/filepond-plugin-image-overlay/dist/filepond-plugin-image-overlay.css" rel="stylesheet">
<script src="https://nielsboogaard.github.io/filepond-plugin-image-overlay/dist/filepond-plugin-image-overlay.js"></script>
<script src="/filepond/filepond-plugin-get-file.js"></script>
<link href="/filepond/filepond-plugin-get-file.css" rel="stylesheet">

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<link rel="stylesheet" href="/css/room.css">

<div class="card" style="margin-top: 10px">
    <h3> Code: <span id="code">{{code}}</span></h3>
</div>

<div class = "card" style="text-align: center">

<!--    <data-max-file-size="3MB">-->
    <form action="/room?num={{code}}" method="post"   encType="multipart/form-data">
    <div style="  margin: 4em auto 0; width: 60%;">
        <input type="file"
               class="filepond"
               name="item"
               id="item"
               multiple="true">
    </div>


    <div style="float: left">
        <span>Expire</span>
        <select class="custom-select" id="inputGroupSelect02" name="expire">
            <option selected value="0">1 hour</option>
            <option value="1">3 hours</option>
            <option value="2">1 day</option>
            <option value="3">3 days</option>
        </select>
    </div>

    <button type="submit" class="btn btn-secondary">Upload</button>
    </form>

</div>




<div class="card" style="margin-top: 30px">

    <div style="width: 90%; text-align: center">
        <div class="results" style="margin-top: 30px; font-size: large">

{{#each data}}
                <div>
                        <div class="tooltip">
<!--                            <a  href="/download/{{this.id}}" download> <img src="/img/doc.png" style="width: 90%"> </a>-->
                            <a  href="{{this.obj}}" download> <img src="/img/doc.png" style="width: 90%"> </a>
                            <span class="tooltiptext">
                                Upload time: <span class="date"> {{this.date}}</span> <br>
                                Size:  <span> {{this.size}}</span>
                            </span>
                        </div>
                    <p> <a href="#0" onclick="post('{{this.id}}')"> {{this.name}} </a></p>
                    </a>
                </div>

    {{/each}}



        </div>
    </div>

</div>


<script>
    FilePond.registerPlugin(
            // encodes the file as base64 data
            FilePondPluginFileEncode,
            // validates the size of the file
            FilePondPluginFileValidateSize,
            FilePondPluginGetFile,
            FilePondPluginImageOverlay
    );

    FilePond.create(
        document.querySelector('#item')
    );
</script>

<script>

    let text =$('.date').text();
    $('.date').text(getDate(text).toString());


    function  getDate(date) {

        let arr = date.split(" ");
        console.log(arr);
        let res = "" + arr[1] + " " + arr[2] + ", " + arr[3] + " " + arr[4];
        return res;
    }


    function post(id) {
        let request = new XMLHttpRequest();
        // function success(text) {
        //     document.getElementById('msg').innerText=text;
        //     location.reload();
        // }
        //
        // if(request!=null){
        //     request.onreadystatechange = function() {
        //         if(request.readyState==4&&request.status==200){
        //             var text=request.responseText;
        //             success(text);
        //         }
        //     };
        // }

        request.open('POST', '/download', true);
        var  obj={
            id:id
        };
        request.send(JSON.stringify(obj));
        //
        // fetch('/route' , {
        //     method: 'GET',
        //     body: id
        // });
    }


    // fetch('/route', {
    //     method: 'POST',
    //     body: 'My HTML String' // Would define object and stringify.
    // })
    //         .then(res => res.text())
    //         .then(base64String => {
    //             const anchorTag = document.createElement('a');
    //             anchorTag.href = base64String;
    //             anchorTag.download = "My PDF File.txt";
    //             anchorTag.click();
    //         });


</script>
